/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ccf2bb;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #70747a;
}

/* Navbar */
.logo {
    background-image: url(..//img/verde_c_branco_verde_c.png);
    width: 120px;
}

.navbar-container {
    width: 100%;
    height: 90px;
    background-color: #03423f;
    padding: 0 2rem;
}

.logo {
    width: 350px;
    margin-top: 15px;
}

.icone-e {
    width: 100px;
}

.icone-h {
    width: 80px;
    margin-bottom: 20px;
}

.icone-d {
    width: 110px;
    margin-bottom: -10px;
}

.navbar-items {
    position: absolute;
    right: 30px;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-items .default-btn {
    color:#03423f;
}

.navbar-items a:hover {
    color: #b9b8b8;
}

.default-btn {
    padding: 15px 20px;
    background-color: #92ff64;
    border-radius: 5px
}

.navbar-items .default-btn:hover {
    background-color: #ccf2bb;
    border-color: #92ff64;
    color: #03423f;
}

/* main banner */
.main-banner {
    background-image:url(../img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

/* services */
.services-container {
    padding: 5rem 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}

/* prices and plans */
.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    background-color: #92ff64;
    color: #03423f;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #03423f;
    padding: 50px 0;
}

.plan .plan-btn {
    background-color: #92ff64;
    color: #03423f;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    transition: 0.5s;
}

.plan .plan-btn:hover {
    background-color: #7ceb4d;
}

/* search domain */
.question-container {
    background-color: #03423f;
    text-align: center;
    padding:5rem 0;
}

.question-container h2 {
    color: #fff;
    font-size: 42px;
    margin: 15px;
}

.question-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.question-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.question-container input[type=text] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.question-container input[type=submit] {
    background-color: #92ff64;
    padding: 15px 30px;
    color: #03423f;
    font-size: 24px;
    cursor: pointer;
}

.question-container input[type=submit]:hover {
    background-color: #ccf2bb;
    color: #03423f;
    transition: 0.5s;
}

/* contact form */
.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type=submit] {
    display: block;
    margin: 0 auto;
    background-color: #92ff64;
    color: #03423f;
    cursor: pointer;
}

.contact-container input[type=submit]:hover {
    background-color: #03423f;
    color: #fff;
    transition: 0.5s;
}

/* footer */
footer {
    text-align: center;
    font-weight: bold;
    margin: 50px 0 100px;
}

/* responsividade */

/* small laptops 1100px */
@media (max-width: 1100px) {

    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/* tablets 900px */
@media (max-width: 900px) {
    .question-container {
        padding: 2rem 4rem;
    }
}

/* mobile 576px */
@media (max-width:576px) {
    html,
    body {
        overflow-x: hidden;
    }

    .logo {
        background-image: url(..//img/Símbolo\ 04.png);
        width: 100%;
    }

    .navbar-items li {
        margin-top: 80px;
        font-size: 12px;
        margin-left: 10px;
    }

    .main-banner p {
        padding: 2rem;
    }

    .services-container ul {
        flex-direction: column;
    }

    .pricing-container p {
        padding: 0 3rem;
    }

    .plans-container {
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }

    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .question-container h2 {
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 22px;
    }

    .question-container p {
        font-size: 16px;
    }

    .question-container input[type=text] {
        font-size: 16px;
        width: 100%;
    }

    .question-container input[type=submit] {
        font-size: 16px;
        padding: 10px 20px;
    }

    .contact-container {
        padding: 3rem 2rem;
    }

    .contact-container input, 
    .contact-container textarea {
        width: 100%;
        margin: 10px 0;
    }
}